body {
  background-color: rgb(255, 255, 255);
  font-family: "Domine", serif;
  margin: 0px;
}

.orange-color {
  color: rgb(238, 80, 23);
}

.top-width {
  width: 50%;
  padding-left: 10%;
}

.top-width img {
  width: 80%;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.top-container {
  display: flex;
  margin-bottom: 80px;
}

.order-button {
  text-decoration: none;
  margin-top: 15px;
  background-image: linear-gradient(orange, rgb(231, 75, 47));
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0.5px rgba(233, 145, 46, 0.726);
}

h1 {
  font-size: 4vw;
  font-weight: 700;
  color: rgb(53, 53, 59);
}
h2 {
  font-size: 3vw;
  font-weight: 700;
}

h3 {
  font-size: 1.8vw;
  font-family: "Times New Roman", Times, serif;
  color: rgb(89, 95, 95);
  font-weight: 800;
  text-align: justify;
  padding-right: 5px;
}
p {
  font-size: 2vw;
  color: rgb(78, 82, 85);
}

.mid-section img {
  width: 50%;
  height: 80%;
  padding-left: 20%;
}

.mid-section {
  width: 50%;
  padding-left: 5%;
  margin-top: 5%;
  padding: 15px;
}

.mid-banner {
  background-image: url(images/mid.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

#id-recipie {
  text-align: center;
  font-weight: 900;
  font-size: 4vw;
}

#mid-div-recipie {
  max-width: 50%;
}

#recipie-intro {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boot-style {
  width: 50%;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px gray;
}

#item1 {
  width: 100%;
}

#item2 {
  width: 100%;
}

#item3 {
  width: 100%;
}

.food-item img {
  width: 90%;
  height: 50%;
  border-radius: 10%;
  padding: 5%;
}

.social-media {
  width: 88%;
  height: 30%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px 1px rgb(165, 160, 160);
  display: flex;
  padding-left: 20px;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 0;
}

.youtube {
  padding: 15px;
  padding-right: 80px;
  text-align: center;
}
.youtube img {
  width: 50%;
}

.insta {
  padding: 15px;
  padding-right: 80px;
  text-align: center;
  padding-left: 17%;
}

.insta img {
  width: 45%;
}

.facebook {
  padding: 15px;
  padding-left: 15%;
  padding-right: 75px;
  text-align: center;
}

.facebook img {
  width: 27%;
}

.footer {
  background-color: rgb(22, 21, 21);
  padding: 1%;
}

#footer-name {
  text-align: center;
  color: rgb(233, 236, 240);
}

#footer-license {
  text-align: center;
  color: rgb(227, 230, 233);
}
